/*Fonts------------------------------------------------------------------------*/
@font-face {
    font-family: 'grinch';
    src:url('grinch.ttf');
    font-weight: normal;
    font-style: normal;
}

/*ScrollBar--------------------------------------*/
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent,var(--main-color));
    border-radius: 6px;
}

/*Start global-----------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Variables*/
:root {
    --landing-font: 'grinch', sans-serif;
    --second-font: sans-serif;
    --main-color: #b6fc09;
    --second-color: #42b65f;
    --third-color: #04040483;
    --dark-color:#272727e8;
    --light-color: #89928b;
}

html {
    background-color: #040404;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: #2f2f2f;
}

body {
    width: 100%;
    height: 100%;
    background: url("images/sitebg.jpg") no-repeat center fixed;
    background-size: cover;
    overflow-x: hidden;
}
/*Website Loader---------------------------------------------------------------*/
.loader {
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader-inner {
    width: 100%;
    height: 100%;
    border: 1rem solid #89928b;
    border-radius: 50%;
    border-top-color: var(--main-color);
    border-bottom-color: var(--main-color);
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    0% {
        transform: scale(1) rotate(360deg);
    }
    50% {
        transform: scale(.5) rotate(-360deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}
/*End website loader-----------------------------------------------------------*/

section {
    padding: 12rem 0;
    /*position: relative;*/
}

h1 {
    color: var(--dark-color);
}

a {
    text-decoration: none;
    color: #474747;
}

p {
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--dark-color);
    opacity: .8;
}

img {
    width: 100%;
}
/*End global----------------------------------------------------------------------------------*/


/*Start reusable------------------------------------------------------------------------------*/
.container {
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.section-heading {
    text-align: center;
    margin-bottom: 10rem;
}

.section-heading h1 {
    font-size: 3.5rem;
    color: #04040483;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
}

.section-heading h1::before,
.section-heading h1::after {
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main-color);
}

.section-heading h1::before {
    width: 10rem;
    height: 3px;
    border-radius: .8rem;
}

.section-heading h1::after {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom: -1rem;
}

.section-heading h6 {
    font-size: 1.6rem;
    font-weight: 300;
    transition: color 650ms;
    opacity: .6;
}

.has-margin-right {
    margin-right: 4rem;
}
/*End reusable--------------------------------------------------------------------------------*/


/*Start header--------------------------------------------------------------------------------*/
header {
    width: 100%;
    height: 100vh;
}

.top-nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    z-index: 50;
    background: url("images/menu.jpg") no-repeat center fixed;
    background-size: cover;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1,0,0,1);
}

.nav-list {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin: 0 2rem;
}

.nav-link {
    font-family: var(--landing-font);
    /*letter-spacing: 1px;*/
    color: var(--light-color);
    font-size: 5rem;
}

.nav-link:hover,
.nav-link:focus {
    background: linear-gradient(to top, var(--main-color), #474747);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-nav.open {
    top: 0;
    border-radius: initial;
}

.menu-toggler {
    position: fixed;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
}

.menu-toggler.open {
    transform: rotate(-45deg);
}

.bar {
    background: linear-gradient(to right, var(--main-color), #2f2f2f);
    width: 100%;
    height: 3px;
    border-radius: .8rem;
    animation: pulse 3s infinite;
}

.bar.half {
    width: 50%;
}

.bar.start {
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start {
    transform: rotate(-450deg) translateX(.8rem);
}

.bar.end {
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end {
    transform: rotate(-450deg) translateX(-.8rem);
}

.pop-up {
    position: relative;
    margin: 0;
}

.drop {
    position: relative;
    top: 50px;
    width: 100%;
    margin: 0 auto;
}

.drop {
    top: -400px;
    animation: drop 1.5s ease forwards;
}

@keyframes drop {
    0% {
        opacity: 0;
    }
    70% {
        transform: translateY(900px);
    }
    100% {
        transform: translateY(850px);
        opacity: 1;
    }
}

.landing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
    z-index: 1;
}

.landing-text h1 {
    font-size: 17rem;
    font-family: var(--landing-font);
    background: linear-gradient(to top, var(--main-color), var(--second-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    user-select: none;
}

.landing-text h6 {
    font-size: 2rem;
    font-weight: 300;
    color: var(--dark-color);
    opacity: .5;
}

.line {
    width: 21em;
    position: relative;
    margin: 0 auto;
    border-right: 2px solid var(--dark-color);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

.anim-type {
    animation: type 4s steps(40) 1s 1 normal both,
    blinkTextCursor 1s steps(40) infinite normal;
}

@keyframes type {
    from {
        width: 0;
    }

    to {
        width: 21em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: var(--dark-color);
    }
    
    to {
        border-right-color: transparent;
    }
}
/*End header----------------------------------------------------------------------------------*/


/*Start about---------------------------------------------------------------------------------*/
#about {
    padding-bottom: 15rem;
}
.about .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-heading {
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-top: 3.5rem;
    margin-bottom: 6rem;
}

.about-heading h1 {
    font-size: 10rem;
    opacity: .3;
}

.about-heading h6 {
    font-size: 2rem;
    font-weight: 300;
    color: var(--main-color);
}

.profile-img {
    display: flex;
    flex: 1;
    margin-right: 5rem;
    position: relative;
    justify-content: center;
    align-items: center;
    /*border: 1px solid #6cc644;*/
}
/*
.profile-img::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #89928b49;
    transform: skew(2deg,2deg);
}*/

.profile-img img {
    opacity: .99;
}

.about-details {
    flex: 1;
}

.social-media {
    margin-top: 5rem;
}

.social-media i {
    font-size: 5rem;
    transition: color 650ms;
    opacity: .6;
}

.fa-facebook-square:hover {
    color: #4267b2;
    opacity: 1;
}
.fa-twitter-square:hover {
    color: #38a1f3;
    opacity: 1;
}
.fa-linkedin:hover {
    color: #0077b5;
    opacity: 1;
}
.fa-github-square:hover {
    color: #6cc644;
    opacity: 1;
}
/*End about-----------------------------------------------------------------------------------*/


/*Start services-------------and Skills-------------------------------------------------------*/
#services {
    padding-bottom: 18rem;
}

.my-skills {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.skill h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;
}

#skills {
    padding-top: 0;
    padding-bottom: 25rem;
}

.skill2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.skill2 h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;
}

.skill2 li {
    list-style-type: none;
    color: var(--third-color);
    font-size: 1.8rem;
}

.icon-container {
    width: 10rem;
    height: 10rem;
    border: 3px solid #2f2f2f;
    background-color: var(--main-color);
    margin-bottom: 2rem;
    display: flex;
    transform: rotate(45deg);
}

.icon-container i {
    color: #2f2f2f;
    font-size: 5rem;
    margin: auto;
    transform: rotate(-45deg);
}
/*End services--------------------------------------------------------------------------------*/


/*Start portfolio------and Certification------------------------------------------------------*/
.portfolio-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.portfolio-item:last-child {
    margin-bottom: 0;
}

.portfolio-img {
    flex: 1;
}

.portfolio-img.opacity img {
    opacity: .7;
}

.portfolio-img.opacity img:hover {
    opacity: 1;
}

.portfolio-description {
    flex: 1.5;
}

.portfolio-description h1 {
    font-size: 3rem;
    font-weight: 300;
    margin: 1rem 0;
    color: var(--third-color);
    opacity: .8;
}

.portfolio-description h6 {
    color: var(--dark-color);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.7;
}

.portfolio-description h5 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    padding-top: 2rem;
    padding-bottom: 3rem;
    color: var(--dark-color);
    opacity: .9;
}

.portfolio-description p {
    padding-bottom: 3rem;
}

.portfolio-description i {
    color: var(--dark-color);
    font-size: 1.8rem;
    margin-left: 1rem;
}

.portfolio-description .cta {
    font-size: 1.1rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #040404;
    border: 2px solid var(--second-color);
    padding: .5rem 1.5rem;
    position: relative;
    transition: all .5s;
}

.cta::before,
.cta::after {
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    border-style: solid;
    border-color: var(--second-color);
    transition: all .5s;
}

.cta::before {
    top: -1rem;
    left: -1rem;
    border-width: 2px 0 0 2px;
}

.cta::after {
    bottom: -1rem;
    right: -1rem;
    border-width: 0 2px 2px 0;
}

.cta:hover::before,
.cta:hover::after {
    width: calc(100% + 1.75rem);
    height: calc(100% + 1.75rem);
    border-color: var(--main-color);
}

.cta:hover {
    color: #040404;
    background-color: var(--main-color);
    border-color: var(--main-color);
    font-weight: 600;
}
/*End portfolio-------------------------------------------------------------------------------*/


/*Start timeline--------------------------------------Work Experience----Education------------*/
.timeline ul {
    border-left: 4px solid var(--main-color);
    border-radius: .8rem;
    background-color: rgba(0,0,0,0.05);
    margin: 0 auto;
    position: relative;
    padding: 3rem;
    padding-right: 0;
    list-style: none;
    text-align: left;
    width: 70%;
}

.timeline a:hover,
.timeline a:focus {
    color: var(--main-color);
    font-size: 2.1rem;
    cursor: pointer;
    text-shadow: 0 0 10px var(--second-color),
                 0 0 20px var(--second-color),
                 0 0 40px var(--second-color),
                 0 0 80px var(--second-color),
                 0 0 120px var(--second-color),
                 0 0 1460px var(--second-color);
}

.timeline h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
    opacity: .7;
}

.timeline h2 {
    color: #474747;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1rem;
    opacity: .8;
    letter-spacing: 2px;
}

.timeline h3 {
    color: var(--dark-color);
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 1rem;
    opacity: .9;
    letter-spacing: 1px;
}

.timeline h4 {
    color: var(--third-color);
    font-size: 1.9rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
    opacity: .7;
    letter-spacing: 2px;
}

.timeline .date {
    border-bottom: 1px solid var(--second-color);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

.timeline .date:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .date::before,
.timeline .date::after {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

.timeline .date::before {
    content: attr(data-date);
    left: -21rem;
    text-align: right;
    min-width: 12rem;
    font-size: 1.5rem;
}

.timeline .date::after {
    content: '';
    box-shadow: 0 0 0 4px #2f2f2f;
    border-radius: 100%;
    left: -6rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: var(--second-color);
}
/*End timeline--------------------------------------------------------------------------------*/


/*Start contact-------------------------------------------------------------------------------*/
#contact {
    padding-top: 0;
    padding-bottom: 2rem;
}

.section-heading .social-media-2 .nav-list {
    flex-direction: initial;
}

.section-heading .social-media-2 .nav-list li {
    padding: 2rem 0;
}
.social-media-2 i {
    font-size: 3rem;
    transition: color 650ms;
    opacity: .7;
}

.fa-facebook-messenger:hover {
    color: #0084ff;
    opacity: 1;
}

.fa-whatsapp:hover {
    color: #25d366;
    opacity: 1;
}

.fa-skype:hover {
    color: #00aff0;
    opacity: 1;
}

.container-contact .row100 {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));

}

.container-contact .row100 .col {
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 10px;
    transition: 0.5s;
}

.container-contact .row100 .inputBox {
    position: relative;
    width: 100%;
    height: 40px;
    color: var(--dark-color);
    opacity: .7;
    font-weight: 600;
    letter-spacing: 3px;
}

.container-contact .row100 .inputBox input,
.container-contact .row100 .inputBox.textarea textarea {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: #040404;
}

.container-contact .row100 .inputBox .text,
.container-contact .row100 .inputBox .email {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}

.container-contact .row100 .inputBox input:focus + .text,
.container-contact .row100 .inputBox input:valid + .text {
    top: -35px;
    left: -10px;
}

.container-contact .row100 .inputBox input:focus + .email,
.container-contact .row100 .inputBox input:valid + .email{
    top: -35px;
    left: -10px;
}

.container-contact .row100 .inputBox .line-2 {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: var(--second-color);
    transition: 0.5s;
    border-radius: .4rem;
    pointer-events: none;
}

.container-contact .row100 .inputBox input:focus ~ .line-2,
.container-contact .row100 .inputBox input:valid ~ .line-2 {
    height: 100%;
}

.container-contact .row100 .inputBox.textarea {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}

.container-contact .row100 .inputBox.textarea textarea {
    height: 100%;
    resize: none;
}

.container-contact .row100 .inputBox textarea:focus + .text,
.container-contact .row100 .inputBox textarea:valid + .text {
    top: -35px;
    left: -10px;
}

.container-contact .row100 .inputBox textarea:focus + .email,
.container-contact .row100 .inputBox textarea:valid + .email {
    top: -35px;
    left: -10px;
}

.container-contact .row100 .inputBox textarea:focus ~ .line-2,
.container-contact .row100 .inputBox textarea:valid ~ .line-2 {
    height: 100%;
}

input[type="submit"] {
    width: 10rem;
    font-size: 1.3rem;
    border: solid;
    border-color: var(--second-color);
    cursor: pointer;
    outline: none;
    color: var(--third-color);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-right: -3px;
    background: var(--second-color);
    padding: .9rem 1.8rem;
    border-radius: .6rem;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    transition: .5s;
    border: solid;
    border-color: #b6fc09;
    box-shadow: 0 5px 50px 0 var(--main-color) inset, 0 5px 50px 0 var(--main-color),
                0 5px 50px 0 var(--main-color) inset, 0 5px 50px 0 var(--main-color);
}
/*End contact---------------------------------------------------------------------------------*/


/*Start footer--------------------------------------------------------------------------------*/
.copyright {
    width: 100%;
    text-align: center;
    background-color: #b5b5b559;
    padding: 2rem 0;
    position: relative;
}

.copyright p {
    font-size: 1.6rem;
    color: var(--dark-color);
}

.copyright a:hover {
    color: var(--main-color);
}

.copyright i {
    color: var(--main-color);
    font-size: 2.2rem;
    margin-left: 1rem;
}

.up {
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: var(--main-color);
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 3s infinite;
    cursor: pointer;
}

.up i {
    color: var(--third-color);
    font-size: 2rem;
    padding: 0.6rem;
    padding-top: 1.2rem;
}

.up:hover,
.up:focus {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    box-shadow: 0 5px 50px 0 var(--main-color) inset, 0 5px 50px 0 var(--main-color),
                0 5px 50px 0 var(--main-color) inset, 0 5px 50px 0 var(--main-color);
    animation: step-end;
}
/*End footer----------------------------------------------------------------------------------*/


/*Start animations-------------------------------------------------------------------------------*/
@keyframes pulse {
    0%{
        box-shadow: 0 0 0 0 #b7fc09;
    }
    70%{
        box-shadow: 0 0 0 1.2rem #b7fc0900;
    }
    100%{
        box-shadow: 0 0 0 0 #b7fc0900;
    }
}
/*End animations---------------------------------------------------------------------------------*/


/*media queries----------------------------------------------------------------------------------*/
/*Just for Menu and social media*/
@media screen and (max-width: 1680px) {
    .top-nav {
        background: url("images/menu-mobile.jpg") no-repeat center fixed;
        background-size: cover;
    }

    .nav-list {
        flex-direction: column;
    }

    li {
        margin: 1rem 0;
    }

    .nav-link {
        font-size: 4.5rem;
    }

    .about-details .nav-list {
        flex-direction: initial;
    }

    .about-details li {
        margin: 0 2rem;
    }

    .timeline .date::before {
        left: -17rem;
        font-size: 1.1rem;
    }

    .timeline .date::after {
        left: -4rem;
    }

    .section-heading .social-media-2 .nav-list {
        flex-direction: initial;
    }

    .section-heading .social-media-2 .nav-list li {
        padding: 2rem 1rem;
    }
}

@media screen and (max-width: 768px) {
    .hideOverflowOnMobile {
        overflow: hidden;
    }

    section {
        padding-top: 0;
        padding-bottom: 10rem;
    }

    .landing-text h1 {
        font-size: 12rem;
    }

    .landing-text h6{
        font-size: 1.7rem;
    }

    .nav-list {
        flex-direction: column;
    }

    li {
        margin: 1rem 0;
    }

    .nav-link {
        font-size: 4.5rem;
    }

    .about-heading h1 {
        font-size: 8rem;
    }

    .section-heading h1 {
        font-size: 3rem;
    }

    .about-details p {
        margin: 0 1.2rem;
    }

    .about-details .nav-list {
        flex-direction: initial;
    }

    .about-details li {
        margin: 0 2rem;
    }

    .icon-container {
        width: 7rem;
        height: 7rem;
    }

    .icon-container i {
        font-size: 4rem;
    }

    .timeline p {
        font-size: 1.5rem;
    }

    .timeline h4 {
        font-size: 1.8rem;
    }

    .timeline h2 {
        font-size: 1.5rem;
    }

    .timeline ul {
        margin: 0 0 0 auto;
    }

    .timeline .date::before {
        left: -17rem;
        font-size: 1.1rem;
    }

    .timeline .date::after {
        left: -4rem;
    }

    .portfolio-item {
        padding-bottom: 6rem;
    }

    .portfolio-description h1 {
        font-size: 2rem;
    }

    .portfolio p {
        font-size: 1.5rem;
    }

    .portfolio-description .cta {
        position: absolute;
        font-size: 1rem;
        padding: 0.5rem;
    }

    .copyright p {
        font-size: 1.3rem;
    }

    .copyright i {
        font-size: 1.8rem;
        margin-left: 1rem;
    }
}

/*Just for Menu and social media*/
@media screen and (max-width: 600px) {
    .menu-toggler {
        top: 2rem;
        right: 2rem;
    }

    .landing-text h1 {
        font-size: 8rem;
    }

    .landing-text h6 {
        font-size: 1.4rem;
    }

    .nav-link {
        font-size: 3.5rem;
    }

    .about .container {
        flex-direction: column;
    }

    .profile-img {
        margin: 0 0 7rem 0;
    }

    .portfolio-item {
        flex-direction: column;
    }

    .portfolio-img {
        margin: 0 0 2rem 0;
        order: 1;
    }

    .portfolio-description {
        margin: 0;
        order: 2;
    }

    .timeline p {
        font-size: 1.5rem;
    }

    .up {
        right: 2rem;
    }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
    .nav-list {
        flex-direction: initial;
    }

    .top-nav {
        background: url("images/menu.jpg") no-repeat center fixed;
        background-size: cover;
    }

    .nav-link {
        font-size: 2.3rem;
        margin-left: 1rem;
    }

    .drop {
        top: -400px;
        animation: drop 1.5s ease forwards;
    }

    .drop h1 {
        font-size: 10rem;
    }

    .drop h6 {
        font-size: 1.6rem;
    }

    @keyframes drop {
        0% {
            opacity: 0;
        }
        70% {
            transform: translateY(650px);
        }
        100% {
            transform: translateY(600px);
            opacity: 1;
        }
    }
}
/*End media queries------------------------------------------------------------------------------*/


